$primary-color: #009879;
$secondary-color: #ffffff;

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  height: 100vh;
}
